@model AppointmentsViewModel
    <!--available time slot model here in-->
    <!--This view will be the Sign Up page. It will display the available
        times and allow users to select a time.-->


    <h3>Available tour time slots:</h3>
    <br /><br />
    <p>Please select an available time slot below.</p>

    
    <a asp-action="Form" asp-controller="Home" >Schedule a tour</a>


    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center">Day</th>
                <th class="text-center">Time</th>
                <th class="text-center">Schedule</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Monday)
            {

                if (x.IsAvailable == true)

                {

                    <tr>
                        <td class="text-center">@x.Day</td>
                        <td class="text-center">@x.Time</td>
                        <td>
                            <!--Copy and paste this into all days-->
                            <form method="post" asp-action="AppointmentView??">
                                <input type="hidden" name="TimeSlotId" value="@x.TimeSlotId" />
                                <button type="submit" class="btn-success btn-small">Schedule tour</button>
                            </form>
                        </td>
                    </tr>
                    
                }
            }

            @foreach (var x in Model.Tuesday)
            {

                if (x.IsAvailable == true)

                {

                    <tr>
                        <td class="text-center">@x.Day</td>
                        <td class="text-center">@x.Time</td>
                         <td>
                            <!--Copy and paste this into all days-->
                            <form method="post" asp-action="AppointmentView??">
                                <input type="hidden" name="TimeSlotId" value="@x.TimeSlotId" />
                                <button type="submit" class="btn-success btn-small">Schedule tour</button>
                            </form>
                        </td>
                    </tr>

                }
            }

            @foreach (var x in Model.Wednesday)
            {

                if (x.IsAvailable == true)

                {

                    <tr>
                        <td class="text-center">@x.Day</td>
                        <td class="text-center">@x.Time</td>
                         <td>
                            <!--Copy and paste this into all days-->
                            <form method="post" asp-action="AppointmentView??">
                                <input type="hidden" name="TimeSlotId" value="@x.TimeSlotId" />
                                <button type="submit" class="btn-success btn-small">Schedule tour</button>
                            </form>
                        </td>
                    </tr>
                }
            }

            @foreach (var x in Model.Thursday)
            {

                if (x.IsAvailable == true)

                {

                    <tr>
                        <td class="text-center">@x.Day</td>
                        <td class="text-center">@x.Time</td>
                         <td>
                            <!--Copy and paste this into all days-->
                            <form method="post" asp-action="AppointmentView??">
                                <input type="hidden" name="TimeSlotId" value="@x.TimeSlotId" />
                                <button type="submit" class="btn-success btn-small">Schedule tour</button>
                            </form>
                        </td>
                    </tr>
                }
            }

            @foreach (var x in Model.Friday)
            {

                if (x.IsAvailable == true)

                {

                    <tr>
                        <td class="text-center">@x.Day</td>
                        <td class="text-center">@x.Time</td>
                         <td>
                            <!--Copy and paste this into all days-->
                            <form method="post" asp-action="AppointmentView??">
                                <input type="hidden" name="TimeSlotId" value="@x.TimeSlotId" />
                                <button type="submit" class="btn-success btn-small">Schedule tour</button>
                            </form>
                        </td>
                    </tr>
                }
            }

            @foreach (var x in Model.Saturday)
            {

                if (x.IsAvailable == true)

                {

                    <tr>
                        <td class="text-center">@x.Day</td>
                        <td class="text-center">@x.Time</td>
                         <td>
                            <!--Copy and paste this into all days-->
                            <form method="post" asp-action="AppointmentView??">
                                <input type="hidden" name="TimeSlotId" value="@x.TimeSlotId" />
                                <button type="submit" class="btn-success btn-small">Schedule tour</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br /><br />
    <a asp-action="Form" asp-controller="Home">Schedule a tour</a>
